<mat-toolbar class="toolbar">
    <img src="/home/thomashepworth/MastersModule1Project/angular-front-end/src/assets/squashImage.jpg">
    <span class="space-in-toolbar"> </span>
    <h2 routerLink="/home" routerLinkActive="active">Home</h2>
    <span class="space-in-toolbar"> </span>
    <h3 routerLink="/players" routerLinkActive="active">Players</h3>
  </mat-toolbar>
<h2 class="Page-header">Squash Tournemnt Tracker Homepage</h2>
<h4 class="subtitle">Please register entry</h4>
<div class="Form-container">
    <div class="form">
        <form>
            <div class="text-input">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="First name">
                </mat-form-field>
            </div>
            <div class="text-input">
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput placeholder="Surname">
                </mat-form-field>
            </div>
            <div class="year-select">
                <mat-form-field class="fromField">
                    <mat-select class="year-option-select-box">
                        <mat-option class="year-option" *ngFor="let Year of Years" [value]="Year">
                            {{Year.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
            <div class="Submit-Button-container">
                <button mat-raised-button color="accent" class="submit-button">Submit</button>
            </div>
        </form>
    </div>
    <div class="Entries-button">
        <button mat-raised-button class="entries-list" routerLink="/players" routerLinkActive="active">Check entries</button>
        <br>
        <button mat-raised-button class="tournament-genorator" routerLink="/standings" routerLinkActive="active">Begin Tournament</button>
    </div>
</div>